<!-- 
<h3>Single selection</h3>
<p>
  <mat-form-field>
    <mat-select [formControl]="bankCtrl" placeholder="Bank" #singleSelect>
      <mat-option>
        <ngx-mat-select-search [formControl]="bankFilterCtrl"></ngx-mat-select-search>
      </mat-option>

      <mat-option *ngFor="let bank of filteredBanks | async" [value]="bank">
        {{bank.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</p>
<p>
  Selected Bank: {{bankCtrl.value?.name}}
</p> -->
<!-- 
<mat-form-field>
  <mat-label>Select a Country</mat-label>
  <mat-select disableRipple formControlName="country"  #singleSelect>
      <mat-option>
          <ngx-mat-select-search ></ngx-mat-select-search>
        </mat-option>
      <mat-option *ngFor="let cnt of getus" [value]="cnt.id">{{cnt.text}}</mat-option>
  </mat-select>
  <mat-error *ngIf="form.get('country').hasError('required')">Please choose a Country</mat-error>
</mat-form-field> -->

<!-- <div class="container">
  <h2>Brits Performing artists</h2>
  <cdk-virtual-scroll-viewport itemSize="100" class="example-viewport">
 <div *cdkVirtualFor="let artist of artists" class="list">
   <h2>{{artist.name}}</h2>
  </div>
  </cdk-virtual-scroll-viewport>
</div> -->


  <mat-form-field style="margin-left: 50px;">
    <mat-select [formControl]="CountryServerSideCtrl" placeholder="Select Country">
      <!-- place ngx-mat-select-search inside mat-option to allow opening without initial selection -->
      <mat-option>
        <ngx-mat-select-search  placeholder="Select Country" [formControl]="CountriesServerSideFilteringCtrl" [searching]="searching"></ngx-mat-select-search>
      </mat-option>
      <cdk-virtual-scroll-viewport itemSize="100" minBufferPx="600" maxBufferPx="1200" class="example-viewport-select" (scrolledIndexChange)="scrolledIndexChange($event)">
        <mat-option *ngFor="let country of filteredServerSideCountries | async" [value]="country" 
        (onSelectionChange)="onSelectionChange($event)"
         >{{country.fname}}</mat-option>
      </cdk-virtual-scroll-viewport>
      <!-- <mat-option *ngFor="let country of filteredServerSideCountries | async" [value]="country">
        {{country.countryName}}
      </mat-option> -->
      <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" [length]="length" showFirstLastButtons></mat-paginator> -->
      <!-- <mat-option> -->
        <!-- <button (click)="loadMore()"  style="margin-left: 90px;margin-bottom: 10px; margin-top: 10px;">Load More....</button> -->
       
      <!-- </mat-option> -->
    </mat-select>
  </mat-form-field>
<p style="margin-left: 50px;">
  Selected Country: {{CountryServerSideCtrl.value?.fname}}
</p>



